dist: bionic
language: node_js
node_js:
  - 10
  - 12
  - 14
  - node

matrix:
  include:
    - name: Lint
      node_js: 14
      script: npm run lint

before_install: 'sudo add-apt-repository -y ppa:inkscape.dev/stable && sudo apt-get update && sudo apt-get install -y inkscape && inkscape --version'
script: npm run test:ci
after_success: '<coverage/lcov.info ./node_modules/coveralls/bin/coveralls.js'
